<% var data = {title:'hoge',description:'fuga'}; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include('../_inc/_head', {page:data,baseUrl:''}) %>
  <body>
    <h1>about</h1>
    <%- include('../_inc/_bodyEnd') %>
  </body>
</html>
